@font-face {
  font-family: "Butler";
  src: url("./fonts/Butler-UltraLight.woff2") format("woff2"),
    url("./fonts/Butler-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("./fonts/Butler-Medium.woff2") format("woff2"),
    url("./fonts/Butler-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("./fonts/Butler-Light.woff2") format("woff2"),
    url("./fonts/Butler-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("./fonts/Butler-Black.woff2") format("woff2"),
    url("./fonts/Butler-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("./fonts/Butler-Bold.woff2") format("woff2"),
    url("./fonts/Butler-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("./fonts/Butler-ExtraBold.woff2") format("woff2"),
    url("./fonts/Butler-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("./fonts/Butler.woff2") format("woff2"),
    url("./fonts/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("./fonts/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("./fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("./fonts/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("./fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url("./fonts/Inter-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 900;
  src: url("./fonts/PublicSans-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 900;
  font-style: italic;
  src: url("./fonts/PublicSans-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  src: url("./fonts/PublicSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/PublicSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 800;
  src: url("./fonts/PublicSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 800;
  font-style: italic;
  src: url("./fonts/PublicSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 200;
  src: url("./fonts/PublicSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 200;
  font-style: italic;
  src: url("./fonts/PublicSans-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: normal;
  src: url("./fonts/PublicSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 300;
  src: url("./fonts/PublicSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/PublicSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 500;
  src: url("./fonts/PublicSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/PublicSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  src: url("./fonts/PublicSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 600;
  src: url("./fonts/PublicSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/PublicSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 100;
  src: url("./fonts/PublicSans-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 100;
  font-style: italic;
  src: url("./fonts/PublicSans-ThinItalic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-auto-rows: 1fr;
  width: 60%;
  justify-self: center;
  /* background-color: white; */
}

/* Styles for devices with a maximum width of 480px */
@media (max-width: 480px) {
  /* CSS rules for small mobile devices */
  /* Example: */
  main {
    width: 100%;
  }
}

/* Styles for devices with a minimum width of 481px and a maximum width of 768px */
@media (min-width: 481px) and (max-width: 720px) {
  /* CSS rules for medium-sized devices like tablets */
  /* Example: */
  main {
    width: 90%;
  }
}

/* Styles for devices with a minimum width of 769px */
@media (min-width: 721px) and (max-width: 1080px) {
  /* CSS rules for desktop devices */
  /* Example: */
  main {
    width: 100%;
  }
}

/* Styles for devices with a minimum width of 769px */
@media (min-width: 1081px) and (max-width: 1440px) {
  /* CSS rules for desktop devices */
  /* Example: */
  main {
    width: 60%;
  }
}

/* Styles for devices with a minimum width of 769px */
/* @media (min-width: 1441px) and (max-width: 2560px) {
    /* CSS rules for desktop devices */
/* Example: */
/* main {
      width: 60%;
    } */
/* } */

html {
  background-color: #d5c7ba;
  height: 100vh;
  width: 100vw;
  overflow-y: auto; /* Enable vertical scrolling */
}

body {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 4fr;
}

.hello {
  font-family: "Butler";
  font-size: 3.5rem;
  /* font-weight: 300; */
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

ol {
  display: inline-flex;
  list-style-type: none;
  width: 50%;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.nav-tab a {
  font-family: "Inter";
  font-weight: 200;
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
  position: relative;
}

.nav-tab a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust the spacing value as needed */
  width: 100%;
  height: 2px; /* Adjust the thickness of the line */
  background-color: black; /* Adjust the color of the line */
  box-shadow: 0 2px 0 0 #d5c7ba; /* Adjust the color and offset of the shadow */
}

/* .nav-tab.about a {
  text-decoration: underline;
} */

.about-container {
  height: 300px;
  margin-top: 75px;
  margin-bottom: 175px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-text-container {
  height: 100%;
  display: block;
  font-family: "Inter";
  font-weight: 200;
  justify-items: center;
}

.about-container h2 {
  font-family: "Butler";
  font-weight: 500;
  font-size: 5.5rem;
}

.cover-photo {
  height: 100%;
  background-image: url(./img/cover.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  min-width: 300px;
  min-height: 225px;
}

/* .work-container {
    height: 200px;
} */

.work-text h3 {
  font-family: "Butler";
  font-size: 4rem;
  font-weight: 400;
  color: black;
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.work {
  height: 50%;
}

.yelp {
  /* background-color: white; */
}

.yelp-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.yelp h3 {
  font-family: "Butler";
  padding-left: 20px;
  font-size: 3rem;
  font-weight: 400;
  color: black;
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.yelp-title {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.yelp-title img {
  height: auto;
  max-height: 90%;
  max-width: 90%;
  margin-right: 10px; /* Adjust as needed */
}

.yelp-photo {
  height: 100%;
  background-image: url(./img/yelp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-width: 250px;
  min-height: 250px;
}

.yelp-text-container {
  height: 100%;
  display: block;
  font-family: "Inter";
  font-weight: 200;
  justify-items: center;
  padding-left: 15px;
}

.yelp-text-container h2 {
  font-family: "Butler";
  font-weight: 400;
  justify-items: center;
}

.yelp-text-container h3 {
  font-family: "Butler";
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0;
}

.starbucks {

}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  display: flex;
  justify-content: center;
}

footer {
  font-family: "Inter";
  font-weight: 200;
}

footer a {
  text-decoration: underline;
}
